.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.App h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.ColorBlockContainer {
  display: flex;
}
